Checks: 'clang-analyze-*,bugprone-*,readability-*,-readability-braces-around-statements,-bugprone-easily-swappable-parameters,-readability-function-cognitive-complexity,-readability-identifier-length,-readability-uppercase-literal-suffix,-readability-magic-numbers'
